
.container_3{
	display: flex;
	flex-wrap: wrap;

	justify-content: space-between;
}



.container div, .container_2 div,.container_3 div{
	padding: 10px;
	border: 1px solid #ccc;

}


/*Another inportant Property is Order . Let Play Around With it*/

.box_1{
	flex: 2;
	order: 2;
}


.box_2{
	flex: 1;
	order: 3;

}


.box_3{

	flex: 1;
	order: 1;
	
}

.container_2_box{
	/*width: 27%;*/

	/*It is better to use flex-basis insted of Width*/

	flex-basis: 27%;
}

.container_3_box{
	flex-basis: 15%;
}


@media(min-width: 768px){

	.container{
	display: flex;
	/*align-items: flex-start;
	align-items: flex-end;
	align-items: center;*/
	align-items: stretch;  /*Default is Stretch*/

	/*flex-direction: column;
	flex-direction: column-reverse;
	flex-direction: row-reverse;*/
	flex-direction: row;  /*Default*/
}

.container_2{
	display: flex;
	margin-top: 20px;

	justify-content: space-between;

	/*justify-content: flex-end;
	justify-content: center;
	justify-content: space-between;
	justify-content: space-around;*/

	/*justify-content: flex-start; /*Default*/*/

	


}
	
}