*{
	margin: 0;
	padding: 0;
}

.header{
	text-align: center;
	width: 100%;
	min-height: 100px;
	margin: auto;
	overflow: hidden;
	background-color: #ccc;
}

.header h1{
	margin-top: 20px;
	margin-bottom: 10px;
}

.container{
	line-height: 1.6em;
	text-align: center;
	width: 80%;
	overflow: hidden;
	margin: auto;
	margin-top: 20px;
}