*{
	margin: 0px;
	padding: 0px;

}

h1{
	font: bold 20px Tahoma;
}


h2{
	font: bold 14px Tahoma;
}

header,section,nav,aside,footer,article,hgroup{
	display: block;
}

body{
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
}

#big_wrapper{
	max-width: 1000px;
	margin: 20px 0px;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex: 1;
}

#top_header{
	background-color: yellow;
	border: 3px solid black;
	padding: 20px;
}

#top_menu{
	border: 1px solid red;
	background-color: blue;
	color: white;
}

#top_menu li{
	display: inline-block;
	list-style: none;
	padding: 10px;
	font: bold 14px Tahoma;
}


#new_div{
	display: -webkit-box;
	-webkit-box-orient:horizontal;
}

#main_section{
	border: 1px solid blue;
	-webkit-box-flex: 1;
	margin: 20px;
	padding: 20px;
}

#side_news{
	border: 1px solid red;
	width: 220px;
	margin: 20px 20px 20px 0px;
	padding: 20px;
	background-color: #66CCCC
}

#the_footer{
	text-align: center;
	padding: 10px;
	border-top: 2px solid green;
}

article{
	background-color: #FFFBCC;
	border: 1px solid red;
	margin-bottom: 15px;
	padding: 20px;
}

article footer{
	text-align: right;
}
