/*.sohel{color: red;}

.rony{color: blue;}

p.rony{color: green}

p[name="soddo"] {color: purple}

p[name^="s"] {color: pink}

p:nth-child(odd){color: teal}
p:nth-child(even){color: indigo}*/

/**{color: blue}


div> p{color: teal}*/

*{
	margin: 0px;
	padding: 0px;
}

h1{
	font: bold 20px Tahoma;
}

h2{
	font: bold 14px Tahoma;
}

header,section,nav,aside,footer,article,hgroup{
	display: block;
}

body{
	text-align: center;
}

#big_wrapper{
	border: 1px solid black;
	width: 1000px;
	margin: 20px auto;
	text-align: left;
}

#top_header{
	background-color: yellow;
	border: 1px solid blue;
	padding: 20px;
}

#top_menu{
	background-color: blue;
	color: white;
}

#top_menu li{
	display: inline-block;
	list-style: none;
	padding: 10px;
	font: bold 14px Tahoma;
}

#main_section{
	float: left;
	width: 660px;
	margin: 30px;  /* Got 720px already available 280px*/
}

#side_news{
	float: left;
	width: 220px;
	margin: 30px 0px;
	padding: 30px;
	background-color: #66CCCC;
}

#the_footer{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid green;
}

article{
	background-color: #FFFBCC;
	border: 1px solid red;
	margin-bottom: 15px;
	padding: 20px;
}

article footer{
	text-align: right;
}
